<%= simple_form_for @language,
                    html: {id: 'language_form'},
                    url: (@language.new_record? ? admin_languages_path : admin_language_path(@language)),
                    method: (@language.new_record? ? :post : :put) do |form| %>
    <% if @language.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@language.errors.count, "error") %> prohibited this archive_item from being saved:</h2>

          <ul>
            <% @language.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.label :title, class: 'col-form-label' %> <br>
      <%= form.text_field :title, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :locale, class: 'col-form-label' %> <br>
      <%= form.text_field :locale, class: 'form-control' %>
    </p>

    <div class="actions d-none">
      <%= form.submit %>
    </div>
<% end %>
