<h1>Languages</h1>

<table>
  <thead>
  <tr>
    <th>
      Title
    </th>
    <th>
      Locale
    </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @languages.each do |language| %>
      <tr>
        <td><%= language.title %></td>
        <td><%= language.locale %></td>
        <td><%= link_to 'Show', admin_language_path(language) %></td>
        <td><%= link_to 'Edit', edit_admin_language_path(language) %></td>
        <td><%= link_to 'Destroy', admin_language_path(language), method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language', new_admin_language_path %>
