<div class="row toolbar">
  <div class="col">
    <h3><%= t('admin.label.languages') %></h3>
  </div>
  <div class="col pagination-wrapper">
    <%= paginate @languages, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm' %>
  </div>
  <div class="col text-right">
    <%= link_to t('admin.action.new'),
                new_admin_language_path,
                class: 'btn btn-primary' %>
  </div>
</div>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <th>
      <%= t('admin.label.title') %>
    </th>
    <th>
      <%= t('admin.label.locale') %>
    </th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @languages.each do |language| %>
    <tr>
      <td data-title="<%= t('admin.label.title') %>">
        <%= language.title %>
      </td>
      <td data-title="<%= t('admin.label.locale') %>">
        <%= language.locale %>
      </td>
      <td class="action-buttons">
        <div class="btn-group">
          <%= link_to t('admin.label.show'),
                      admin_language_path(language),
                      class: 'btn btn-primary' %>
          <%= link_to t('admin.action.edit'),
                      edit_admin_language_path(language),
                      class: 'btn btn-warning' %>
          <%= link_to t('admin.action.delete'),
                      admin_language_path(language),
                      method: :delete,
                      data: {confirm: t('admin.confirm.delete')},
                      class: 'btn btn-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<div class="row toolbar">
  <div class="col">
    <h3><%= t('admin.label.languages') %></h3>
  </div>
  <div class="col pagination-wrapper">
    <%= paginate @languages, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm' %>
  </div>
  <div class="col text-right">
    <%= link_to t('admin.action.new'),
                new_admin_language_path,
                class: 'btn btn-primary' %>
  </div>
</div>
