<%= simple_form_for @song,
                    url: (@song.new_record? ? admin_songs_path : admin_song_path(@song)),
                    method: (@song.new_record? ? :post : :put) do |form| %>
    <% if @song.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@song.errors.count, "error") %> prohibited this archive_item from being saved:</h2>

          <ul>
            <% @song.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.label :title %> <br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :author %> <br>
      <%= form.text_field :author %>
    </p>

    <p>
      <%= form.label :tag %> <br>
      <%= form.text_field :tag %>
    </p>

    <p>
      <%= form.label :text %> <br>
      <%= form.text_area :text %>
    </p>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
