<p id="notice"><%= notice %></p>

<p>name: <%= @song.title %></p>

<p>author: <%= @song.author %></p>

<p>tag: <%= @song.tag %></p>

<p>text: <%= @song.text %></p>

<%= link_to 'Edit', edit_admin_song_path(@song) %> |
<%= link_to 'Back', admin_songs_path %>

