<div class="card">
  <% if archive_file.image? %>
    <%= image_tag archive_file.file.url, class: 'card-img-top' if archive_file.file.present? %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= archive_file.file.to_s.split('/').last if archive_file.file.present? %></h5>
    <p class="card-text">
      <%= archive_file.file_type %>,
      <%= archive_file.language.title %>,
      <%= number_to_human_size(archive_file.get_video_info.size) if archive_file.video? %>
    </p>
    <div class="btn-group">
      <% unless archive_file.video_being_processed %>
        <%= link_to t('admin.label.show'),
                    admin_archive_item_archive_file_path(archive_item_id: @archive_item,
                                                         id: archive_file.id),
                    class: 'btn btn-primary' %>
      <% end %>
      <%= render 'admin/shared/convert_dropdown',
                 archive_item: @archive_item,
                 archive_file: archive_file %>
    </div>
  </div>
</div>