<div class="card">
  <% if archive_file.image? %>
    <%= image_tag archive_file.file.url, class: 'card-img-top' if archive_file.file.present? %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= archive_file.file.to_s.split('/').last if archive_file.file.present? %></h5>
    <p class="card-text">
      <%= archive_file.file_type %>,
      <%= archive_file.language.title %>,
      <% unless archive_file.video_being_processed %>
        <%= number_to_human_size(archive_file.get_video_info.size) if archive_file.video? %>
      <% end %>
    </p>
    <div class="btn-group">
      <% unless archive_file.video_being_processed %>
        <%= link_to t('admin.label.show'),
                    admin_archive_item_archive_file_path(archive_item_id: @archive_item,
                                                         id: archive_file.id),
                    class: 'btn btn-primary' %>
      <% end %>
      <%= render 'admin/shared/convert_dropdown',
                 archive_item: @archive_item,
                 archive_file: archive_file %>
    </div>
    <% if archive_file.video_being_processed %>
      <% progress = (archive_file.video_convert_progress[:progress] * 100).round(2) %>
      <% progress_id = archive_file.video_convert_progress[:id] %>
      <div class="progress-lg">
        <div class="progress-bar progress-lg bg-warning progress-bar-striped progress-bar-animated"
             id="progress-bar-id-<%= progress_id %>"
             style="width: <%= progress %>%"
             role="progressbar"
             aria-valuenow="<%= progress %>%"
             aria-valuemin="0"
             aria-valuemax="100">
          <%= progress %>%
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if archive_file.video_being_processed %>
  <% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
        function getConversionStatus(progressId) {
            var url = JsRoutesRails.status_admin_video_queue_item_path({id: progressId});
            $.ajax({
                url: url,
                success: function (response) {
                    var progress = response.progress * 100;
                    $('#progress-bar-id-' + progressId)
                        .css('width', progress + '%')
                        .text(parseFloat(progress).toFixed(2) + '%');
                }
            });
        }

        setInterval(function () {
            getConversionStatus(<%= archive_file.video_convert_progress[:id] %>);
        }, 2000);
    </script>
  <% end %>
<% end %>