<%= simple_form_for @archive_item,
                    html: {id: 'archive_item_form'},
                    url: (@archive_item.new_record? ? admin_archive_items_path : admin_archive_item_path(id: @archive_item.id)),
                    method: (@archive_item.new_record? ? :post : :put) do |form| %>
  <% if @archive_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archive_item.errors.count, "error") %> prohibited this archive_item from being saved:</h2>

      <ul>
        <% @archive_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-7">
      <%= render 'admin/shared/forms/localized_text_field', model: @archive_item, name: 'title' %>
    </div>
    <div class="col-md-4">
      <p>
        <%= form.label :note %>
        <%= form.text_area :note, class: 'form-control' %>
      </p>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :published, class: 'custom-control-input' %>
          <%= form.label :published, class: 'custom-control-label' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        <%= form.label :date %> <br>
        <%= form.text_field :date, class: 'form-control', data: {provider: 'datepicker'} %>
      </p>
    </div>
    <div class="col">
      <p>
        <%= form.input :categories,
                       as: :select2, collection: Category.includes(:translations).all,
                       selected: @archive_item.categories.map(&:id),
                       include_blank: false, multiple: true %>
      </p>
    </div>
    <div class="col">
      <p>
        <%= form.label :tags %>
        <%= form.text_area :tags, class: 'tags-input' %>
      </p>
    </div>
  </div>

  <%= render 'admin/shared/forms/localized_editor', model: @archive_item, name: 'description', horizontal: true %>

  <br>

  <div class="actions d-none">
    <%= form.submit %>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">

      function setupTagsInput() {
          var input = $('.tags-input');

          input.tagsinput();

          <% if @archive_item.tags.present? %>
          <% @archive_item.tags.split(',').each do |tag| %>
          input.tagsinput('add', '<%= tag %>');
          <% end %>
          <% end %>
      }

      $(document).on('turbolinks:load', function () {
          setupTagsInput();
      });

  </script>
<% end %>