<h1>Archive Items</h1>

<%= paginate @archive_items %>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <th>
      Thumb
    </th>
    <%= render 'admin/shared/tables/localized_table_head', head_label: 'Title' %>
    <th>
      Published
    </th>
    <th>
      Hash ID
    </th>
    <th>
      Date
    </th>
    <th>
      Note
    </th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @archive_items.each do |archive_item| %>
    <tr>
      <td>
        <% if archive_item.archive_files.present? && archive_item.archive_files.length > 0 %>
          <%= image_tag archive_item.archive_files.first.file.tiny.url if archive_item.archive_files.first.image? %>
        <% end %>
      </td>
      <%= render 'admin/shared/tables/localized_table_row', row_label: 'Title', model: archive_item, key: 'title' %>
      <td data-title="Published">
        <% if archive_item.published %>
          <%= fa_icon 'check' %>
        <% else %>
          <%= fa_icon 'times' %>
        <% end %>
      </td>
      <td data-title="Hash ID"><%= archive_item.hash_id %></td>
      <td data-title="Date"><%= archive_item.date %></td>
      <td data-title="Note"><%= archive_item.note %></td>
      <td class="action-buttons">
        <div class="btn-group">
          <%= link_to 'Show', admin_archive_item_path(archive_item), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_admin_archive_item_path(archive_item), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', admin_archive_item_path(archive_item), method: :delete,
                      data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @archive_items %>

<br>

<%= link_to 'New Archive Item', new_admin_archive_item_path %>
