<p id="notice"><%= notice %></p>

<p>name: <%= @archive_item.title %></p>

<p>description: <%= @archive_item.description %></p>

<p>published: <%= @archive_item.published %></p>

<p>hash_id: <%= @archive_item.hash_id %></p>

<p>date: <%= @archive_item.date %></p>

<p>tags: <%= @archive_item.tags %></p>

<p>note: <%= @archive_item.note %></p>

<% if @archive_files.present? %>
    <ul>
      <% @archive_files.each do |archive_file| %>
        <li>
          <%= archive_file.id %> - <%= archive_file.file_type %>
        </li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Add File', new_admin_archive_item_archive_file_path(@archive_item) %>
<%= link_to 'Edit', edit_admin_archive_item_path(@archive_item) %> |
<%= link_to 'Back', admin_archive_items_path %>
