<div class="container video-player">
  <div class="row">
    <div class="col-lg-9 player-wrapper">
      <video poster="<%= @video.get_thumbnail(I18n.locale) %>" id="plyr-player" playsinline controls>
        <% @video.get_video_sources(nil).each do |source| %>
          <source src="<%= source.file.url %>" type="video/mp4">
        <% end %>
      </video>
      <h1>
        <%= @video.title %>
      </h1>
      <p class="views">
        <%= @video.views %> <%= t('front.views') %>
      </p>
      <p class="date">
        <%= @video.date %>
      </p>
      <div class="tags">
        <% @video.tags.split(',').each do |tag| %>
          <span class="badge badge-primary"><%= tag %></span>
        <% end %>
      </div>
      <div class="description">
        <%= @video.description.html_safe %>
      </div>
    </div>
    <div class="col-lg-3 similar-videos-wrapper">
      <p class="title"><%= t('front.similar_videos') %></p>
    </div>
  </div>
</div>