<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag 'shared/logo.svg', class: 'logo' %>
      <span>
        Oáza.tv
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to t('section.live_stream'), live_stream_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('section.archive'), archive_page_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown pull-right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @current_db_locale %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @languages.each do |language| %>
              <%= link_to language.title ,url_for(locale: language.locale), class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0" action="<%= search_path %>">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>