<p id="notice"><%= notice %></p>

<h1>Archive Items</h1>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Description
      </th>
      <th>
        published
      </th>
      <th>
        hash_id
      </th>
      <th>
        date
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @archive_items.each do |archive_item| %>
      <tr>
        <td><%= archive_item.name %></td>
        <td><%= archive_item.description %></td>
        <td><%= archive_item.published %></td>
        <td><%= archive_item.hash_id %></td>
        <td><%= archive_item.date %></td>
        <td><%= link_to 'Show', archive_item %></td>
        <td><%= link_to 'Edit', edit_archive_item_path(archive_item) %></td>
        <td><%= link_to 'Destroy', archive_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Archive Item', new_archive_item_path %>
