<h1>Video conversion queue</h1>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <th>
      Video
    </th>
    <th>
      File
    </th>
    <th>
      Created at
    </th>
    <th>
      Started at
    </th>
    <th>
      Status
    </th>
    <th>
      Finished at
    </th>
  </tr>
  </thead>

  <tbody>
  <% @finished_jobs.each do |job| %>
    <tr>
      <td data-title="Video"><%= job[:archive_item].title %></td>
      <td data-title="File"><%= job[:archive_file].file.to_s.split('/').last %></td>
      <td data-title="Created at"><%= job[:created_at] %></td>
      <td data-title="Started at"><%= job[:started_at] %></td>
      <td data-title="Status">
        <% case job[:status]
           when VideoConvertProgress.status.find_value(:done).value %>
          Done
        <% when VideoConvertProgress.status.find_value(:error).value %>
          Error
        <% end %>
      </td>
      <td data-title="Finished at"><%= job[:finished_at] %></td>
    </tr>
  <% end %>
  <% @running_jobs.each do |job| %>
    <tr>
      <td data-title="Video"><%= job[:archive_item].title %></td>
      <td data-title="File"><%= job[:archive_file].file.to_s.split('/').last %></td>
      <td data-title="Created at"><%= job[:created_at] %></td>
      <td data-title="Started at"><%= job[:started_at] %></td>
      <td data-title="Status">
        <% if job[:progress].progress != nil %>
          Processing, <%= (job[:progress].progress * 100).round(2) %>% done
        <% else %>
          Waiting
        <% end %>
      </td>
      <td data-title="Finished at"></td>
    </tr>
  <% end %>
  <% @queued_jobs.each do |job| %>
    <tr>
      <td data-title="Video"><%= job[:archive_item].title %></td>
      <td data-title="File"><%= job[:archive_file].file.to_s.split('/').last %></td>
      <td data-title="Created at"><%= job[:created_at] %></td>
      <td data-title="Started at">Waiting</td>
      <td data-title="Status">Waiting</td>
      <td data-title="Finished at"></td>
    </tr>
  <% end %>
  </tbody>
</table>
