<h1>Video conversion queue</h1>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <th>
      Video
    </th>
    <th>
      File
    </th>
    <th>
      Progress
    </th>
  </tr>
  </thead>

  <tbody>
  <% @running_conversions.each do |conversion| %>
    <tr>
      <td data-title="Video"><%= conversion[:archive_item].title %></td>
      <td data-title="File"><%= conversion[:archive_file].file.to_s.split('/').last %></td>
      <td data-title="Progress"><%= conversion[:progress].progress %></td>
    </tr>
  <% end %>
  <% @queued_jobs.each do |job| %>
    <tr>
      <td data-title="Video"><%= job[:archive_item].title %></td>
      <td data-title="File"><%= job[:archive_file].file.to_s.split('/').last %></td>
      <td data-title="Progress">waiting</td>
    </tr>
  <% end %>
  </tbody>
</table>
