<div class="row toolbar">
  <div class="col">
    <h3><%= t('admin.menu.video_conversion_queue') %></h3>
  </div>
</div>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <th>
      <%= t('admin.label.video') %>
    </th>
    <th>
      <%= t('admin.label.file') %>
    </th>
    <th>
      <%= t('admin.label.created_at') %>
    </th>
    <th>
      <%= t('admin.label.started_at') %>
    </th>
    <th>
      <%= t('admin.label.status') %>
    </th>
    <th>
      <%= t('admin.label.finished_at') %>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @jobs_with_error.each do |job| %>
    <tr>
      <td data-title="<%= t('admin.label.video') %>">
        <%= job[:archive_item].title %>
      </td>
      <td data-title="<%= t('admin.label.file') %>">
        <%= job[:archive_file].file.to_s.split('/').last %>
      </td>
      <td data-title="<%= t('admin.label.created_at') %>">
        <%= job[:created_at] %>
      </td>
      <td data-title="<%= t('admin.label.started_at') %>">
        <%= job[:started_at] %>
      </td>
      <td data-title="<%= t('admin.label.status') %>">
        <% case job[:status]
             when VideoConvertProgress.status.find_value(:done).value %>
          Done
        <% when VideoConvertProgress.status.find_value(:error).value %>
          <button type="button" class="btn btn-danger"
                  data-toggle="popover"
                  title="Popover title"
                  data-placement="left"
                  data-content="<%= job[:error] %>"><%= t('admin.label.error') %>
          </button>
        <% end %>
      </td>
      <td data-title="<%= t('admin.label.finished_at') %>">
        <%= job[:finished_at] %>
      </td>
    </tr>
  <% end %>
  <% @finished_jobs.each do |job| %>
    <tr>
      <td data-title="<%= t('admin.label.video') %>">
        <%= job[:archive_item].title %>
      </td>
      <td data-title="<%= t('admin.label.file') %>">
        <%= job[:archive_file].file.to_s.split('/').last %>
      </td>
      <td data-title="<%= t('admin.label.created_at') %>">
        <%= job[:created_at] %>
      </td>
      <td data-title="<%= t('admin.label.started_at') %>">
        <%= job[:started_at] %>
      </td>
      <td data-title="<%= t('admin.label.status') %>">
        <% case job[:status]
             when VideoConvertProgress.status.find_value(:done).value %>
          Done
        <% when VideoConvertProgress.status.find_value(:error).value %>
          Error
        <% end %>
      </td>
      <td data-title="<%= t('admin.label.finished_at') %>">
        <%= job[:finished_at] %>
      </td>
    </tr>
  <% end %>
  <% @running_jobs.each do |job| %>
    <tr>
      <td data-title="<%= t('admin.label.video') %>">
        <%= job[:archive_item].title %>
      </td>
      <td data-title="<%= t('admin.label.file') %>">
        <%= job[:archive_file].file.to_s.split('/').last %>
      </td>
      <td data-title="<%= t('admin.label.created_at') %>">
        <%= job[:created_at] %>
      </td>
      <td data-title="<%= t('admin.label.started_at') %>">
        <%= job[:started_at] %>
      </td>
      <td data-title="<%= t('admin.label.status') %>">
        <% if job[:progress].progress != nil %>
          Processing, <%= (job[:progress].progress * 100).round(2) %>% done
        <% else %>
          <%= t('admin.status.waiting') %>
        <% end %>
      </td>
      <td data-title="<%= t('admin.label.finished_at') %>"></td>
    </tr>
  <% end %>
  <% @queued_jobs.each do |job| %>
    <tr>
      <td data-title="<%= t('admin.label.video') %>">
        <%= job[:archive_item].title %>
      </td>
      <td data-title="<%= t('admin.label.file') %>">
        <%= job[:archive_file].file.to_s.split('/').last %>
      </td>
      <td data-title="<%= t('admin.label.created_at') %>">
        <%= job[:created_at] %>
      </td>
      <td data-title="<%= t('admin.label.started_at') %>">
        <%= t('admin.status.waiting') %>
      </td>
      <td data-title="<%= t('admin.label.status') %>">
        <%= t('admin.status.waiting') %>
      </td>
      <td data-title="<%= t('admin.label.finished_at') %>"></td>
    </tr>
  <% end %>
  </tbody>
</table>
