<h1>Video conversion queue</h1>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <th>
      Video
    </th>
    <th>
      File
    </th>
    <th>
      Status
    </th>
  </tr>
  </thead>

  <tbody>
  <% @finished_jobs.each do |job| %>
    <tr>
      <td data-title="Video"><%= job[:archive_item].title %></td>
      <td data-title="File"><%= job[:archive_file].file.to_s.split('/').last %></td>
      <td data-title="Status">Done</td>
    </tr>
  <% end %>
  <% @running_jobs.each do |job| %>
    <tr>
      <td data-title="Video"><%= job[:archive_item].title %></td>
      <td data-title="File"><%= job[:archive_file].file.to_s.split('/').last %></td>
      <td data-title="Status">Processing, <%= (job[:progress].progress * 100).round(2) %>% done</td>
    </tr>
  <% end %>
  <% @queued_jobs.each do |job| %>
    <tr>
      <td data-title="Video"><%= job[:archive_item].title %></td>
      <td data-title="File"><%= job[:archive_file].file.to_s.split('/').last %></td>
      <td data-title="Status">waiting</td>
    </tr>
  <% end %>
  </tbody>
</table>
