<div class="row toolbar">
  <div class="col">
    <h3><%= t('admin.menu.video_convert_profiles') %></h3>
  </div>
  <div class="col text-right">
    <%= link_to t('admin.action.new'),
                new_admin_video_convert_profile_path,
                class: 'btn btn-primary' %>
  </div>
</div>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <th>
      <%= t('admin.label.title') %>
    </th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @profiles.each do |profile| %>
    <tr>
      <td data-title="<%= t('admin.label.title') %>"><%= profile.title %></td>
      <td class="action-buttons">
        <div class="btn-group">
          <%= link_to t('admin.label.show'),
                      admin_video_convert_profile_path(profile),
                      class: 'btn btn-primary' %>
          <%= link_to t('admin.action.edit'),
                      edit_admin_video_convert_profile_path(profile),
                      class: 'btn btn-warnig' %>
          <%= link_to t('admin.action.delete'),
                      admin_video_convert_profile_path(profile),
                      class: 'btn btn-danger',
                      method: :delete,
                      data: {confirm: t('admin.confirm.delete')} %>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


