<div class="row toolbar">
  <div class="col">
    <h3><%= t('admin.menu.video_convert_profiles') %> > <%= t('admin.action.new') %> </h3>
  </div>
  <div class="col text-right">
    <%= link_to t('admin.action.back'),
                admin_video_convert_profiles_path,
                class: 'btn btn-secondary' %>
    <a href="#" data-submit-form="new_video_convert_profile"
       class="btn btn-success">
      <%= t('admin.action.submit') %>
    </a>
  </div>
</div>

<%= render 'form', profile: @profile %>