<%= simple_form_for @category,
                    url: (@category.new_record? ? admin_categories_path : admin_category_path(@category)),
                    method: (@category.new_record? ? :post : :put) do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this archive_item from being saved:</h2>

      <ul>
        <% @archive_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'admin/shared/forms/localized_text_field', model: @category, name: 'title' %>

  <p>
    <%= form.label :color %> <br>
    <%= form.text_field :color %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
