<div class="row toolbar">
  <div class="col">
    <h3><%= t('admin.label.categories') %></h3>
  </div>
  <div class="col pagination-wrapper">
    <%= paginate @categories, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm' %>
  </div>
  <div class="col text-right">
    <%= link_to t('admin.action.new'),
                new_admin_category_path,
                class: 'btn btn-primary' %>
  </div>
</div>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <%= render 'admin/shared/tables/localized_table_head',
               head_label: t('admin.label.title') %>
    <th>
      <%= t('admin.label.color') %>
    </th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <%= render 'admin/shared/tables/localized_table_row',
                 row_label: t('admin.label.title'),
                 model: category,
                 key: 'title' %>
      <td data-title="<%= t('admin.label.color') %>"><%= category.color %></td>
      <td class="action-buttons">
        <div class="btn-group">
          <%= link_to t('admin.label.show'),
                      admin_category_path(category),
                      class: 'btn btn-primary' %>
          <%= link_to t('admin.action.edit'),
                      edit_admin_category_path(category),
                      class: 'btn btn-warning' %>
          <%= link_to t('admin.action.delete'), admin_category_path(category),
                      method: :delete,
                      data: {confirm: t('admin.confirm.delete')},
                      class: 'btn btn-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<div class="row toolbar">
  <div class="col">
    <h3><%= t('admin.label.categories') %></h3>
  </div>
  <div class="col pagination-wrapper">
    <%= paginate @categories, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-sm' %>
  </div>
  <div class="col text-right">
    <%= link_to t('admin.action.new'),
                new_admin_category_path,
                class: 'btn btn-primary' %>
  </div>
</div>

