<h1>Categories</h1>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <%= render 'admin/shared/tables/localized_table_head', head_label: 'Title' %>
    <th>
      Color
    </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <%= render 'admin/shared/tables/localized_table_row', row_label: 'Title', model: category, key: 'title' %>
      <td><%= category.color %></td>
      <td><%= link_to 'Show', admin_category_path(category) %></td>
      <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
      <td><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path %>
