<%= simple_form_for @photo_album, html: {multipart: true},
                    url: (@photo_album.new_record? ? admin_photo_albums_path : admin_photo_album_path(@photo_album)),
                    method: (@photo_album.new_record? ? :post : :put) do |form| %>
  <% if @photo_album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_album.errors.count, "error") %> prohibited this archive_item from being saved:</h2>

      <ul>
        <% @photo_album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'admin/shared/forms/localized_text_field', model: @photo_album, name: 'title' %>

  <p>
    <%= form.label :date %> <br>
    <%= form.text_field :date, class: 'form-control', data: {provider: 'datepicker'} %>
  </p>

  <p>
    <%= form.label :days %> <br>
    <%= form.text_field :days %>
  </p>

  <%= render 'admin/shared/forms/localized_editor', model: @photo_album, name: 'description' %>

  <p>
    <%= form.label :tags %> <br>
    <%= form.text_field :tags, class: 'tags-input' %>
  </p>

  <p>
    <%= form.label :published %> <br>
    <%= form.check_box :published %>
  </p>

  <p>
    <%= form.label :photos %>
    <%= file_field_tag "photos[]", type: :file, multiple: true %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
      function setupTagsInput() {
          var input = $('.tags-input');

          input.tagsinput();

          <% if @photo_album.tags.present? %>
            <% @photo_album.tags.split(',').each do |tag| %>
              input.tagsinput('add', '<%= tag %>');
            <% end %>
          <% end %>
      }

      setupTagsInput();
  </script>
<% end %>