<h1>Photo Albums</h1>

<%= paginate @photo_albums %>

<table class="table table-hover table-responsive table-no-more">
  <thead>
  <tr>
    <%= render 'admin/shared/tables/localized_table_head', head_label: 'Title' %>
    <th>
      Date
    </th>
    <th>
      Published
    </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @photo_albums.each do |album| %>
      <tr>
        <%= render 'admin/shared/tables/localized_table_row', row_label: 'Title', model: album, key: 'title' %>
        <td><%= album.date %></td>
        <td><%= album.published %></td>
        <td><%= link_to 'Show', admin_photo_album_path(album) %></td>
        <td><%= link_to 'Edit', edit_admin_photo_album_path(album) %></td>
        <td><%= link_to 'Destroy', admin_photo_album_path(album), method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @photo_albums %>

<br>

<%= link_to 'New Photo Album', new_admin_photo_album_path %>
