<h1>Photo Albums</h1>

<table>
  <thead>
  <tr>
    <th>
      Title
    </th>
    <th>
      Date
    </th>
    <th>
      Published
    </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @photo_albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.date %></td>
        <td><%= album.published %></td>
        <td><%= link_to 'Show', admin_photo_album_path(album) %></td>
        <td><%= link_to 'Edit', edit_admin_photo_album_path(album) %></td>
        <td><%= link_to 'Destroy', admin_photo_album_path(album), method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo Album', new_admin_photo_album_path %>
