<p id="notice"><%= notice %></p>

<p>name: <%= @photo_album.title %></p>

<p>date: <%= @photo_album.date %></p>

<p>days: <%= @photo_album.days %></p>

<p>description: <%= @photo_album.description %></p>

<p>published: <%= @photo_album.published %></p>

<p>tags: <%= @photo_album.tags %></p>

<div>
  <% @photo_album.photos.each do |photo| %>
      <span class="thumbnail pull-left">
        <%= image_tag photo.image.thumb.url %>
        <p><%= photo.description %></p>
      </span>
  <% end %>
</div>

<%= link_to 'Edit', edit_admin_photo_album_path(@photo_album) %> |
<%= link_to 'Back', admin_photo_albums_path %>
