<p id="notice"><%= notice %></p>

<%= render 'admin/shared/forms/localized_text', name: 'Title', model: @photo_album, key: 'title' %>

<p>date: <%= @photo_album.date %></p>

<p>days: <%= @photo_album.days %></p>

<%= render 'admin/shared/forms/localized_html', name: 'Title', model: @photo_album, key: 'description' %>

<p>published: <%= @photo_album.published %></p>

<p>tags: <%= @photo_album.tags %></p>

<div class="photos-grid">
  <% @photo_album.photos.each do |photo| %>
      <span class="grid-photo">
        <%= image_tag photo.image.thumb.url %>
        <p><%= photo.description %></p>
      </span>
  <% end %>
</div>

<%= link_to 'Edit', edit_admin_photo_album_path(@photo_album) %> |
<%= link_to 'Back', admin_photo_albums_path %>
