<%= simple_form_for @archive_file, url: admin_archive_item_archive_files_path(@archive_item) do |form| %>
    <% if @archive_file.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@archive_file.errors.count, "error") %> prohibited this archive_item from being saved:</h2>

          <ul>
            <% @archive_file.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= form.input :file_type, required: true %>
    </p>

    <p>
      <%= form.association :language, required: true %>
    </p>

    <p>
      <%= form.input :file, as: :file, required: true %>
    </p>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
