<div class="row toolbar" style="padding-right: 15px;">
  <div class="col">
    <h3><%= @archive_item.title %></h3>
  </div>
  <div class="col-1">
    <p><%= t('admin.label.type') %>: <%= @archive_file.file_type %></p>
  </div>
  <div class="col-2">
    <p><%= t('admin.label.language') %>: <%= @archive_file.language.title unless @archive_file.language.nil? %></p>
  </div>
  <div class="col-5 text-right">
    <buton class="btn btn-secondary"
           onclick="javascript:history.back();">
      <%= t('admin.action.back') %>
    </buton>
    <%= render 'admin/shared/convert_dropdown',
               archive_item: @archive_item,
               archive_file: @archive_file %>
    <%= link_to t('admin.action.edit'),
                edit_admin_archive_item_archive_file_path(archive_item_id: @archive_item.id,
                                                          id: @archive_file.id),
                class: 'btn btn-warning' %>
  </div>
</div>

<div class="container-fluid">
  <br>

  <div class="row">
    <% if @archive_file.image? %>
      <%= render 'image_view' %>
    <% elsif @archive_file.video? %>
      <%= render 'video_view' %>
    <% elsif @archive_file.subtitles? %>
      <%= render 'subtitles_view' %>
    <% end %>
  </div>
</div>