<p>type: <%= @archive_file.file_type %></p>

<p>language: <%= @archive_file.language.title unless @archive_file.language.nil? %></p>

<% if @archive_file.image? %>
  <%= image_tag @archive_file.file, class: 'img-fluid' %>
<% end %>

<% if @archive_file.video? %>
    <p>délka: <%= @video_info.duration %> sekund</p>
    <p>bitrate: <%= @video_info.bitrate %> kb/s</p>
    <p>velikost: <%= @video_info.size %></p>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Video
        </h4>
        <p class="card-text">
          kodek: <%= @video_info.video_codec %> <br>
          rozlišení: <%= @video_info.resolution %> <br>
          framerate: <%= @video_info.frame_rate %> <br>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Audio
        </h4>
        <p class="card-text">
          kodek: <%= @video_info.audio_codec %> <br>
          vzorkovací frekvence: <%= @video_info.audio_sample_rate %> <br>
          kanály: <%= @video_info.audio_channels %> <br>
        </p>
      </div>
    </div>

<% end %>

<%= link_to 'Edit', edit_admin_archive_item_archive_file_path(archive_item_id: @archive_item.id, id: @archive_file.id) %>