<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="../" class="navbar-brand">Oáza.tv 3.0 alpha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Dashboard', admin_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Livestream', admin_livestream_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Archive', admin_archive_items_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Video convert queue', admin_video_queue_items_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Video convert profiles', admin_video_convert_profiles_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categories', admin_categories_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Languages', admin_languages_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Preachers', admin_preachers_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Songs', admin_songs_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Photo albums', admin_photo_albums_path, class: 'nav-link' %>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">
            <%= current_user.email %> <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="download">
            <%= link_to t('devise.sessions.sign_out'), destroy_user_session_path, method: :delete,
                        class: 'dropdown-item' %>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>