<div class="col-md-2 sidebar">
  <ul>
    <li>
      <%= link_to 'Dashboard', admin_path %>
    </li>
    <li>
      <%= link_to 'Archive', admin_archive_items_path %>
    </li>
    <li>
      <%= link_to 'Categories', admin_categories_path %>
    </li>
    <li>
      <%= link_to 'Languages', admin_languages_path %>
    </li>
    <li>
      <%= link_to 'Preachers', admin_preachers_path %>
    </li>
    <li>
      <%= link_to 'Songs', admin_songs_path %>
    </li>
    <li>
      <%= link_to 'Photo albums', admin_photo_albums_path %>
    </li>
  </ul>
</div>