<!DOCTYPE html>
<html>
<head>
  <title>Oáza.tv - Admin</title>
  <%= csrf_meta_tags %>
  <%= render 'admin/shared/meta' %>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'js-routes-rails' %>
</head>

<body>
<%= render 'admin/shared/navbar' if admin_signed_in? %>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'admin/shared/toastr' %>
<%= yield :scripts %>
</body>
</html>
