<!DOCTYPE html>
<html>
<head>
  <title>Oáza.tv - Admin</title>
  <%= csrf_meta_tags %>
  <%= render 'admin/shared/meta' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'admin/shared/navbar' if user_signed_in? %>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <% if notice.present? || alert.present? %>
          <div class="container-fluid">
            <% if alert.present? %>
                <div class="alert alert-warning">
                  <%= alert %>
                </div>
            <% end %>
            <% if notice.present? %>
                <div class="alert alert-info">
                  <%= notice %>
                </div>
            <% end %>
          </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
<%= yield :scripts %>
</body>
</html>
