<!DOCTYPE html>
<html>
<head>
  <title>Oáza.tv</title>
  <%= csrf_meta_tags %>
  <%= render 'application/shared/meta' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'application/shared/navbar' %>
<div class="container-fluid">
  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>

  <%= yield :scripts %>
</div>
</body>
</html>
